<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        Counter: {{ counter }}
        <div>
            <input v-model="message" />
            <p>Your message is: {{message}}</p>

            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>

        <div style="margin:16px">
            <div v-if="seen" style="background-color: red;width: 200px;height: 200px;margin-bottom: 20px;"></div>
            <button @click="toggleDiv">Click to toggle div</button>
        </div>

        <ul>
            <movie-item 
            v-for="item in moviesList"
            v-bind:movie="item"
            v-bind:key="item.id"
            >{{item.name}}</movie-item>
        </ul>

        <div>
            <h4>Add a new Movie</h4>
            <form v-on:submit.prevent="onSubmit">
                <input v-model="movieName">
                <button type="submit">Add movie</button>
            </form>
        </div>

        <!-- template syntax -->
        <span v-html="htmlMessage"></span>
        <div>
            <span v-html="movieListMessage"></span>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>

</body>
</html>